body {
	background-image: url('../images/council_room_bkg.jpg');
	background-repeat: repeat-x;
	}
h1 {
	color: #FFD700;
	font-family: 'IM Fell DW Pica', serif;
	font-size: 72px;
	font-weight: 700;
	text-shadow: 0px 0px 9px #000;
	margin: 6px;
	position: relative;
}
.intro {
	color: #ffffff;
	margin-top: -8px;
}
a.introlink {
	color: #ddd;
}
h2 {
	font-family: 'IM Fell DW Pica', serif;
	font-weight: 700;

}
h2.treasure {
	text-shadow: 1px 1px 5px #FFD700;
}
h2.victory {
	text-shadow: 1px 1px 5px #83c084;
}
h2.action {
	text-shadow: 1px 1px 5px #fff;
}
h2.reaction {
	text-shadow: 1px 1px 5px #70a8e5;
}
.playersearch {
	position: absolute;
	top: -8px -moz-initial;
	right:10px;
	z-index: 10
}
.small {
	font-size: .75em;
}
.z{
	float: right;
	font-size: .001px;
	color: transparent;
	display: inline-block;
	width: 0px;
}
.cardborder{
	-moz-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 12px rgba(0,0,0,0.6);
	box-shadow: 12px rgba(0,0,0,0.6);
	float: left;
	position: relative;
	padding: 5px;
	margin: 3px;
}
.yellow {
	background-color: #FFD700;
}
.green {
	background-color: #83c084;
}
.grey {
	background-color: #bbbbbb;
}
.blue {
	background-color: #70a8e5;
}